
/*---=======================
   12. Start Footer  css 
===========================---*/

.footer-area-v1{
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:after,&:before{
        position: absolute;
        content: '';
        border: 1px solid #282828;
        border-radius: 50%;
        z-index: -1;
    }
    &:after{
        top: 90px;
        left: 170px;
        width: 414px;
        height: 414px;
    }
    &:before{
        top: 220px;
        right: -130px;
        width: 260px;
        height: 260px;
    }
    & .footer-widget{
        & .widget{
            & h4.widget-title{
                color: $white;
                margin-bottom: 35px;
            }
            & p{
                color: #c5c5c5;
            }
            & ul{
                & li{
                    a{
                        color: #c5c5c5;
                    }
                }
            }
            &.about-widget{
                & p{
                    margin-bottom: 30px;
                }
                & ul.social-link{
                    & li{
                        margin-right: 10px;
                        & a{
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #3b3b43;
                            color: $white;
                        }
                    }
                } 
            }
            &.quick-link-widget{
                padding-left: 60px;
                @media #{$lg}{
                    padding-left: 0px;
                }
                @media #{$xs}{
                    padding-left: 0px;
                }
                & ul.widget-link{
                    & li{
                        padding-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        & a{
                            @include transition(.3s);
                            &:hover,&:focus{
                                color: $theme-color;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
            &.newsletter-widget{
                & p{
                    margin-bottom: 25px;
                }
                & form{
                    & .form_group{
                        & .form_control{
                            margin-bottom: 10px;
                            background-color: #282828;
                            color: #c5c5c5;
                            border: none;
                            &::placeholder{
                                color: #c5c5c5;
                            }
                        }
                    }
                    & .main-btn{
                        @media #{$lg}{
                            padding: 19px 30px;
                        }
                    }
                }
            }
            &.instagra-widget{
                padding-left: 40px;
                @media #{$lg}{
                    padding-left: 0px;
                }
                @media #{$xs}{
                    padding-left: 0px;
                }
                & ul.instagram-list{
                    margin-top:5px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -5px;
                    margin-right: -5px;
                    & li{
                        flex: 0 0 50%;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin-bottom: 10px;
                        & a{
                            display: block;
                            & img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    & .copyright-text{
        padding: 30px 0 35px;
        border-top: 2px solid #26262d;
    }
}
  
.footer-area-v2{
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:after,&:before{
        position: absolute;
        content: '';
        border: 1px solid rgba(40, 40, 40, 0.1);
        border-radius: 50%;
        z-index: -1;
    }
    &:after{
        top: 90px;
        left: 170px;
        width: 414px;
        height: 414px;
    }
    &:before{
        top: 220px;
        right: -130px;
        width: 260px;
        height: 260px;
    }
    & .footer-top{
        & .custom-container{
            background-color: #f5f5f5;
            padding: 65px 0;
        }
        & .footer-logo{
            text-align: left;
            @media #{$xm}{
                margin-bottom: 20px;
            }
        }
        & .info-box{
            @media #{$xm}{
                margin-bottom: 20px;
            }
            & .icon{
                margin-right: 20px;
                min-width: 60px;
                max-width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(27, 14, 96, 0.1);
                & i{
                    color: $color-two;
                }
                @media #{$lg}{
                    margin-right: 10px;
                }
            }
            & .info{
                & h5{
                    font-weight: 500;
                    color: $color-two;
                    @media #{$lg}{
                        font-size: 14px;
                    }
                    @media #{$xm}{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    & .footer-widget{
        & .widget{
            & h4.widget-title{
                color: $color-two;
                margin-bottom: 35px;
                font-weight: 600;
            }
            & p{
                color: $text-color;
            }
            & ul{
                & li{
                    a{
                        color: $text-color;
                    }
                }
            }
            &.about-widget{
                padding-right: 25px;
                @media #{$lg}{
                    padding-right: 0px;
                }
                @media #{$xs}{
                    padding-right: 0px;
                }
                & p{
                    margin-bottom: 30px;
                }
                & ul.social-link{
                    & li{
                        margin-right: 10px;
                        & a{
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #e7e7e7;
                            color: #76728f;
                            &:hover,&:focus{
                                background-color: $color-two;
                                color: $white;
                            }
                        }
                    }
                } 
            }
            &.quick-link-widget{
                padding-left: 80px;
                @media #{$lg}{
                    padding-left: 0px;
                }
                @media #{$xs}{
                    padding-left: 0px;
                }
                & ul.widget-link{
                    & li{
                        padding-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        & a{
                            @include transition(.3s);
                            &:hover,&:focus{
                                color: $color-two;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
            &.instagra-widget{
                padding-left: 50px;
                @media #{$lg}{
                    padding-left: 0px;
                }
                @media #{$xs}{
                    padding-left: 0px;
                }
                & ul.instagram-list{
                    margin-top:5px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -5px;
                    margin-right: -5px;
                    & li{
                        flex: 0 0 33.33%;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin-bottom: 10px;
                        & a{
                            display: block;
                            & img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }    
    }
    & .copyright-text{
        padding: 40px 0;
        border-top: 2px solid #eeeeee;
        & .footer-nav{
            margin-bottom: 10px;
            & ul{
                & li{
                    display: inline-block;
                    margin-left: 15px;
                    margin-right: 15px;
                    & a{
                        color: $color-two;
                        font-weight: 600;
                    }
                }
            }
        }
        & p{
            color: $color-two;
        }
    }
}

/*---=======================
   End Footer  css 
===========================---*/