
/*---=======================
   10. Start Blog  css 
===========================---*/

.blog-grid-v1{
    & .blog-slider-one{
        margin-left: -15px;
        margin-right: -15px;
        & .blog-post-item{
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    & .blog-post-item{
        & .post-thumbnail{
            & a{
                display: block;
                & img{
                    width: 100%;
                }
            }
        }
        & .entry-content{
            & .content{
                text-align: center;
                padding: 0px 30px 30px;
                @media #{$xm}{
                    padding: 0px 15px 30px;
                }
                & .post-meta{
                    position: relative;
                    background-color: $white;
                    padding: 13px 20px;
                    margin-top: -26px;
                    margin-bottom: 7px;
                    @media #{$lp}{
                        padding: 13px 10px;
                    }
                    @media #{$xm}{
                        padding: 13px 5px;
                    }
                    & ul{
                        & li{
                            margin-left: 10px;
                            margin-right: 10px;
                            display: inline-block;
                            @media #{$lp}{
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                            @media #{$xm}{
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                            & span{
                                & i{
                                    margin-right: 10px;
                                    color: $theme-color;
                                }
                            }
                        }
                    }
                }
                & h3{
                    font-size: 22px;
                    line-height: 30px;
                    padding: 0 30px;
                    margin-bottom: 20px;
                }
                & p{
                    padding: 0 30px;
                }
            }
            & .button{
                & .main-btn{
                    display: block;
                    text-align: center;
                    background-color: #eaeaea;
                    color: $heading-color;
                }
            }
        }
    }
}

.blog-list-v1{
    & .blog-slider-two{
        margin-left: -15px;
        margin-right: -15px;
        & .blog-post-item{
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    & .blog-arrows-two{
        float: right;
        @media #{$xm}{
            float: left;
        }
        & .slick-arrow{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $color-two;
            background-color: transparent;
            color: $color-two;
            z-index: 1;
            cursor: pointer;
            float: left;
            @include transition(.3s);
            &:hover,&:focus{
                background-color: $color-two;
                color: $white;
                @include transform(scale(1.2));
            }
            &.prev{
                margin-right: 10px;
            }
        }
    }
    & .blog-post-item{
        background-color: #f5f5f5;
        @media #{$lg}{
            flex-wrap: wrap;
        }
        @media #{$xm}{
            flex-wrap: wrap;
        }
        & .post-thumbnail{
            width: 41%;
            & img{
                width: 100%;
            }
            @media #{$lg}{
                width: 100%;
            }
            @media #{$xm}{
                width: 100%;
            }
        }
        & .entry-content{
            width: 59%;
            height: 100%;
            padding: 25px 30px 20px;
            @media #{$lp}{
                padding: 0px 30px 0px;
            }
            @media #{$lg}{
                width: 100%;
            }
            @media #{$xm}{
                width: 100%;
            }
            & .post-meta{
                margin-bottom: 10px;
                & ul{
                    & li{
                        margin-right: 15px;
                        display: inline-block;
                        @media #{$xm}{
                            margin-right: 5px;
                        }
                        & span{
                            & i{
                                margin-right: 10px;
                                color: $color-two;
                            }
                        }
                    }
                }
            }
            & h3.title{
                font-size: 22px;
                line-height: 32px;
                color: $color-two;
                margin-bottom: 15px;
                &:hover,&:focus{
                    color: $heading-color
                }
            }
            & p{
                margin-bottom: 15px;
            }
            & .btn-link{
                color: $color-two;
            }
        }
    }
}

.blog-standard-section{
    & .blog-post-item{
        & .post-thumbnail{
            margin-bottom: 35px;
            & a{
                display: block;
                & img{
                    width: 100%;
                }
            }
        }
        & .entry-content{
            & .post-meta{
                margin-bottom: 15px;
                & ul{
                    & li{
                        display: inline-block;
                        margin-right: 20px;
                        & span{
                            & i{
                                margin-right: 10px;
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            & h3.title{
                margin-bottom: 20px;
            }
            & p{
                margin-bottom: 40px;
            }
        }
    }
}


.blog-details-section{
    & .blog-details-wrapper{
        & .blog-post-item{
            margin-bottom: 40px;
            & .post-thumbnail{
                margin-bottom: 30px;
            }
            & .entry-content{
                & .post-meta{
                    margin-bottom: 15px;
                    & ul{
                        & li{
                            display: inline-block;
                            margin-right: 20px;
                            & span{
                                & i{
                                    margin-right: 10px;
                                    color: $theme-color;
                                }
                            }
                        }
                    }
                }
                & h3{
                    margin-bottom: 15px;
                }
                & p{
                    margin-bottom: 20px;
                }
                & .blockquote{
                    background-color: $light-bg;
                    padding: 50px 60px;
                    text-align: center;
                    margin-bottom: 30px;
                    & h4{
                        font-weight: 500;
                        line-height: 35px;
                        color: #1a191d;
                        margin-bottom: 20px;
                    }
                    & h5{
                        color: $theme-color;
                    }
                }
            }
        }
        & .comments-area{
            & h4.comments-title{
                margin-bottom: 30px;
            }
            & ul.comments-list{
                & .comment{
                    position: relative;
                    display: flex;
                    margin-bottom: 40px;
                    @media #{$xm}{
                        flex-wrap: wrap;
                    }
                    &:nth-child(even){
                        padding-left: 60px;
                        @media #{$lg}{
                            padding-left: 30px;
                        }
                        @media #{$xm}{
                            padding-left: 0px;
                        }
                    }
                    & .comment-avatar{
                        min-width: 100px;
                        max-width: 100px;
                        height: 100px;
                        & img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    & .comment-wrap{
                        margin-left: 30px;
                        @media #{$xm}{
                            margin-left: 0px;
                            margin-top: 30px;
                        }
                        & .comment-author-content{
                            & .span.author-name{
                                font-size: 18px;
                                font-weight: 600;
                                color: $heading-color;
                            }
                            & .span.date{
                                margin-left: 10px;
                            }
                            & p{
                                margin-bottom: 10px;
                            }
                            & a.reply{
                                font-weight: 600;
                                &:after{
                                    display: inline-block;
                                    content: '\f178';
                                    font-family: 'Font Awesome 5 Pro';
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .comments-respond{
            background-color: #f7f7f7;
            padding: 45px 50px;
            & h4.comments-heading {
                margin-bottom: 30px;
            }
            & .form_group{
                & .form_control{
                    margin-bottom: 30px;
                    border: none;
                    background-color: $white;
                }
                & textarea.form_control{
                    height: 140px;
                }
                & i{
                    color: $theme-color;
                    position: absolute;
                    right: 30px;
                    top: 30px;
                    font-size: 14px;
                }
            }
        }
    }
}
.post-nav-item{
    margin-bottom: 71px;
    & .post-item{
        display: block;
        padding: 30px 40px;
        position: relative;
        text-align: center;
        z-index: 1;
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(15, 15, 15, 0.75);
            z-index: -1;
        }
        & h4{
            color: $white;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
.sidebar-widget-area{
    & .widget{
        padding: 30px 50px 35px;
        border: 2px solid rgb(227, 227, 227);
        @media #{$lg}{
            padding: 30px 15px 35px;
        }
        @media #{$xm}{
            padding: 30px 15px 35px;
        }
        & h4.widget-title{
            padding-bottom: 10px;
            border-bottom: 2px solid rgb(227, 227, 227);
            margin-bottom: 20px;
        }
        &.search-widget{
            padding: 0;
            border: none;
            & form{
                & .form_group{
                    & .form_control{
                        height: 80px;
                        border: 2px solid rgb(227, 227, 227);
                    }
                    & .search-btn{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 80px;
                        height: 80px;
                        color: $white;
                        font-size: 20px;
                        background-color: $theme-color;
                    }
                }
            }
        }
        &.catageory-widget{
            & ul.categeory-link{
                & li{
                    display: block;
                    padding-bottom: 10px;
                    border-bottom: 2px solid rgb(227, 227, 227);
                    margin-bottom: 22px;
                    &:last-child{
                        padding-bottom: 0px;
                        border-bottom: none;
                        margin-bottom: 0px;
                    }
                    & a{
                        position: relative;
                        display: block;
                        font-weight: 500;
                        &:after{
                            display: inline-block;
                            float: right;
                            content: '\f105';
                            font-family: 'Font Awesome 5 Pro';
                            font-weight: 400;
                        }
                        &:hover,&:focus{
                            color: $theme-color;
                        }
                    }
                }
            }
        }
        &.widget-recent-post{
            & h4.widget-title{
                margin-bottom: 30px;
            }
            & ul.recent-post-widget{
                & li.post-thumbnail-content{
                    margin-bottom: 20px;
                    display: flex;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    & img{
                        width: 75px;
                        height: 70px;
                    }
                    & .post-title-date{
                        margin-left: 15px;
                        margin-top: -6px;
                    }
                    & span.posted-on{
                        font-size: 14px;
                        & i{
                            color: $theme-color;
                            margin-right: 10px;
                        }
                    }
                    & h6{
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 500;
                        @include transition(.3s);
                        &:hover,&:focus{
                            color: $theme-color;
                        }
                    }
                }
            }
        }
        &.widget-tag-cloud{
            padding-bottom: 30px;
            & h4.widget-title{
                margin-bottom: 30px;
            }
            & a{
                display: inline-block;
                background-color: $light-bg;
                padding: 7px 12px;
                margin-right: 5px;
                margin-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
                &:hover,&:focus{
                    color: $white;
                    background-color: $theme-color;
                }
                @media #{$lg}{
                    padding: 7px 15px;
                }
                @media #{$xm}{
                    padding: 7px 15px;
                }
            }
        }
        &.about-widget{
            padding: 40px 50px 30px;
            & .about-content{
                & .thumb{
                    & img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                }
                & .content{
                    & h4{
                        font-size: 22px;
                        margin-bottom: 6px;
                    }
                    & p{
                        margin-bottom: 16px;
                    }
                    & p.position{
                        color: #ff4545;
                        margin-bottom: 10px;
                    }
                    & ul.social-link{
                        & li{
                            margin-left: 8px;
                            margin-right: 8px;
                            & a{
                                &:hover,&:focus{
                                    color: $theme-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.cta-widget{
            padding: 0px;
            border: none;
            & .cta-content{
                position: relative;
                padding: 100px 40px;
                z-index: 1;
                &:after{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(15, 15, 15, 0.75);
                    z-index: -1;
                }
                & .content{
                    & h3{
                        color: $white;
                        font-size: 35px;
                        line-height: 45px;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }
                    & p{
                        color: $white;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

.fidda-pagenitation{
    & ul.pagenitation-link{
        & li{
            display: inline-block;
            margin-right: 10px;
            & a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 55px;
                height: 55px;
                border: 2px solid rgb(227, 227, 227);
                border-radius: 50%;
                color: $heading-color;
                @include transition(.3s);
                &:hover,&:focus,&.active{
                    border-color: $theme-color;
                }
            }
        }
    }
}

/*---=======================
   End Blog  css 
===========================---*/